#!/usr/bin/make -f

export QT_SELECT=5

include /usr/share/pkg-kde-tools/qt-kde-team/3/debian-qt-kde.mk

override_dh_auto_install:
	$(overridden_command)

	# remove cmake configuration files, useless for now
	rm -rf $(CURDIR)/debian/fonts-oxygen/usr/lib/*/cmake/
